#!/usr/bin/env bash

####################################################################
#            TUNE ME AND RENAME TO .amsh_settings                  #
####################################################################

#======[Settings, used for non-interactive builds and as shell defaults]=========

# / SOURCE BASE FOR PACKAGES BUILDING
BRANCH=${BRANCH:-master}

# / SOURCE LOCATION AND ACCESS SETTINGS
PROJECT=ProjectName
USER=myusername
KEY=github_password_or_dev_key
REPO_URL="https://${USER}:${KEY}@github.com/${USER}/project.git"


# / STORAGE SETTINGS
MONGODB_URL=mongodb://host:port/database

# / OUTPUT PACKAGE SETTINGS
PKG_ARCH=${PKG_ARCH:-rpm}
BUILD_ARGS=""
VER=3.0.0.0
BUILD=0

# / OUTPUT LOCATION AND PERSISTENCE SETTINGS
M2_CACHE_PATH=/var/tmp/.m2

# / DOCKER SETTINGS
declare -A DOCKER
DOCKER_DEFAULT=1
DOCKER["default"]="host:port"
